[mysqld]                                            # The mysqld section is used by the MariaDB server, mysqld stands for MySQL daemon

user                    = root                      # Specify the user to run mysqld under
pid-file                = /run/mysqld/mysqld.pid    # The pid file is created by mysqld, this file contains the process id of the running mysqld process
basedir                 = /usr                      # The path to the installation directory
datadir                 = /var/lib/mysql            # The path to the database root
tmpdir                  = /tmp                      # The path to the temporary directory

bind-address			= 0.0.0.0                   # The IP address to bind to
port					= 3306                      # The port number the server will listen to
socket					= /run/mysqld/mysqld.sock   # The socket file to use for local connections

lc-messages-dir			= /usr/share/mysql          # The directory where the error message file is located, lc stands for locale
lc-messages				= en_US                     # The language for error messages
log_error = /var/log/mysql/error.log                # The error log file
expire_logs_days = 10                               # The number of days for automatic binary log file removal

character-set-server  = utf8mb4                     # The default character set
collation-server      = utf8mb4_general_ci          # The default collation
